.profile-page {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
}

.profile-page__content-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  @media (max-width: 768px) {
    flex-direction: column;
    /* align-items: stretch; */
    height: 100%;
  }
}

.profile-page__empty,
.profile-page__loading,
.profile-page__error {
  text-align: center;
  padding: 3rem;
  color: var(--text-secondary);
}

.profile-page__error {
  color: var(--color-incorrect);
}

.profile-page__empty-state {
  text-align: center;
  padding: 2rem;
  color: var(--text-secondary);
  background-color: var(--background-secondary);
  border-radius: 4px;
}
