.profile-map__country {
  --fill: var(--map-country-fill);
  --stroke: var(--map-country-outline);
  --stroke-width: 0.5;
  /* outline: none; */
}

.profile-map__country_selected {
  --fill: var(--color-selected);
  --stroke: var(--color-selected-outline);
  --stroke-width: 1;
  /* outline: none; */
}
.profile-map__country_hovered {
  --fill: var(--color-hover);
  --stroke: var(--color-hover-outline);
  --stroke-width: 1;
  /* outline: none; */
}

.profile-map__display-mode-selector-button {
  background-color: var(--background-secondary);
}

.profile-map__display-mode-selector-button-active {
  background-color: var(--color-selected);
  border-color: var(--color-selected-outline);
}
/* 
.profile-map__country_data {
  fill: var(--color-correct);
  stroke: var(--color-correct-outline);
  stroke-width: 0.3;
  outline: none;
  opacity: 0.7;
}
.profile-map__country_no-data {
  fill: var(--color-neutral);
  stroke: var(--color-neutral-outline);
  stroke-width: 0.3;
  outline: none;
} */