.profile-stats-map__map {
  min-width: 300px;
  flex: 2;
}

.profile-stats-map__stats-display {
  margin-top: 1.5rem;
  min-width: 300px;
  flex: 1;
}

.profile-stats-map__country {
  --fill: var(--map-country-fill);
  --stroke: var(--map-country-outline);
  --stroke-width: 0.5;
}

.profile-stats-map__country_selected {
  --fill: var(--mui-palette-primary-main);
  --stroke: var(--mui-palette-primary-dark);
  --stroke-width: 1;
}
.profile-stats-map__country_hovered {
  --fill: var(--mui-palette-secondary-main);
  --stroke: var(--mui-palette-secondary-dark);
  --stroke-width: 1;
}

.profile-stats-map__display-mode-selector-button {
  background-color: #afafaf;
  font-size: 12px;
}

.profile-stats-map__display-mode-selector-button-active {
  font-size: 12px;
  background-color: var(--mui-palette-secondary-main);
  border-color: var(--mui-palette-secondary-dark);
}
