.quiz-world-map__country--correct {
    --fill: var(--color-correct);
    --stroke: var(--color-correct);
    cursor: default;
}

.quiz-world-map__country--incorrect {
    --fill: var(--color-incorrect);
    --stroke: var(--color-incorrect);
    cursor: not-allowed;
}

.quiz-world-map__country--selected {
    --fill: var(--color-selected);
    --stroke: var(--color-selected-stroke);
    cursor: pointer;
}

.quiz-world-map__country--hovered {
    --fill: var(--color-hover);
    --stroke: var(--color-hover-outline);
    cursor: pointer;
}

.quiz-world-map__country--neutral {
    --fill: #efefef;
    --stroke: #aaaaaa;
    cursor: pointer;
}
