.submit-button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: 4px;
    border: 1px solid var(--submit-button-neutral);
    background-color: var(--submit-button-neutral);
    color: var(--text-primary);
    cursor: not-allowed;
}

.submit-button--completed {
    border: 1px solid var(--color-correct-outline);
    background-color: var(--color-correct);
    color: #fff;
    cursor: not-allowed;
}

.submit-button--incorrect {
    border: 1px solid var(--color-incorrect-outline);
    background-color: var(--color-incorrect);
    color: #fff;
    cursor: not-allowed;
}

.submit-button--active {
    border: 1px solid var(--color-active-secondary-outline);
    background-color: var(--color-active-secondary);
    color: #fff;
    cursor: pointer;
}

.submit-button--disabled {
    border: 1px solid var(--color-disabled-outline);
    background-color: var(--color-disabled);
    color: var(--text-primary);
    cursor: not-allowed;
}