.modality-matrix {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
padding: 1rem;
}

.modality-matrix__chart {
width: 100%;
max-width: 600px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 0rem;
}

.modality-matrix__plot {
min-height: 500px;
min-width: 500px;
margin-top: 0rem;
padding-top: 0.25rem;
}

.modality-matrix__legend {
padding-bottom: 0.25rem;
margin-bottom: 0rem;
}

.modality-matrix__empty {
padding: 2rem;
text-align: center;
color: var(--text-muted);
}