:root {
  --color-submit-button-ready: #31b953;
  --color-submit-button-not-ready: #6c757d;

  --color-submit-button-outline: #00cc33;
}

.submit-button {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 4px;
  border: 1px solid #aaaaaa;
  /* background-color: #efefef; */
  color: var(--text-primary);
  cursor: not-allowed;
}

.submit-button--completed {
  border: 1px solid var(--color-correct-outline);
  background-color: var(--color-correct);
  color: #fff;
  cursor: not-allowed;
}

.submit-button--incorrect {
  border: 1px solid var(--color-incorrect-outline);
  background-color: var(--color-incorrect);
  color: #fff;
  cursor: not-allowed;
}

.submit-button--active {
  border: 1px solid var(--color-selected-outline);
  background-color: var(--color-selected);
  color: #fff;
  cursor: pointer;
}

.submit-button--disabled {
  border: 1px solid var(--color-disabled-outline);
  background-color: var(--color-disabled);
  color: var(--text-primary);
  cursor: not-allowed;
}
