.selected-country-display__flag {
    font-size: 40px;
    outline: 2px solid black;
}
      

.selected-country-display__name {
    font-weight: bold;

}
  
.selected-country-display {
    display: flex;
    flex-direction: column;
    background-color: var(--background-secondary);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.selected-country-display__header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.selected-country-display__header-text {
    font-style: italic;
}

.selected-country-display__info {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.selected-country-display__display-text {
    /* font-style: italic; */
    text-align: center;
}

.selected-country-display__body {
    width: 100%;
    overflow: hidden; /* Prevent content from exceeding boundaries */
    display: flex;
    flex-direction: column;
    align-items: center;
}